<div class="bg-image">
  <div class="jumbotron-text container d-flex flex-row justify-content-center">
    <div class="text-left h7">
      <span class="green">KALYX</span>
      HAS
      ARRIVED
    </div>

    <div class="text-right h7">
      AND
      YOU'RE
      <span class="pink">INVITED</span>
    </div>
  </div>
</div>







  <!-- <h1>Transforming the business of cannabis.</h1>
  <h3>
    Kalyx serves thousands of patients and businesses worldwide. <br />
    Connect with your international cannabis community today.
  </h3> -->


<%= stylesheet_link_tag '/assets/stylesheets/application.scss'%>
<div id="particles-js"></div>
<%= javascript_include_tag 'particles', 'application'%>
